* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
}

.nav--logo {
  max-width: 100px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  align-self: center;
  height: 300px;
}

.hero--header {
  margin-bottom: 16px;
  font-size: 40px;
}

.hero--text {
  margin-top: 0px;
}

.card {
  width: 185px;
  font-size: 12px;
  padding: 7px;
  flex: 0 0 auto;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  height: 235px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--firstspan {
  margin-right: 5px;
  margin-top: 2px;
}

.card--span {
  margin-right: 5px;
  margin-top: 2px;
  color: #918E9B;
}

.card--star {
  width: 13px;
  margin-right: 2px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 2px 4px;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 6px;
  font-weight: bold;
}

.card--price {
  position: absolute;
  top: 301px;
}